html{
    overflow-y: scroll;
    text-align: center;
    background-image: url(ghoul.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-attachment: fixed;
    background-size: 50%;
}

h1{
    font-size: 40px;
}

#openmenu{
    position:absolute;
    top: 30%;
    left: 15%;
    font-size: 20px;
    background-color: darkgrey;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
}

#closemenu{
    position:absolute;
    top: 5%;
    right: 10%;
    font-size: 20px;
    background-color: darkgrey;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
}

#menucontent{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    padding-top: 10%;
    background-color: lightslategray;
    z-index: 1;
}

footer{
    background-color: black;
    position: absolute;
    left: 0;
    width: 100%;
    color: white;
    margin-top: 400px;
    padding-bottom: 5%;
    padding-top: 30px;

}

.info{
    margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    /* html{

    } */
  }